.project
.buildpath
.settings
*.log
*.db
*.swp
vendor/*
composer.lock
phpunit.xml

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.editorconfig

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

#
bin/*
!bin/.gitkeep
.env.local
/config/database.php
database.php
*~
/generated_models
/generated_routes
/generated_controllers
routes.xml
tmp
/.vs/slnx.sqlite
node_modules
public/assets/js/*
!public/assets/js/.gitkeep
