{% extends '@admin/layout.twig' %}

{% block title "Editer un article" %}

{% block body %}

<h1>Editer l'article {{ item.name }} </h1>

<form action="{{ path('blog.admin.edit', {id: item.id}) }}" method="POST">

  {% include "@blog/admin/form.twig" %}

  <button type="submit" class="btn btn-primary">Editer</button>
</form>

{% endblock %}