<li class="nav-item {{ is_subpath('blog.admin.index') ? 'active' }}">
  <a class="nav-link" href="{{ path('blog.admin.index') }} ">Articles</a>
</li>
<li class="nav-item {{ is_subpath('blog.admin.category.index') ? 'active' }} ">
  <a class="nav-link" href="{{ path('blog.admin.category.index') }}">Categories</a>
</li> 