{% extends 'layout.twig' %}


{% block body %}

  <form action="" method="post">
    {{ csrf_input() }}
    {{ field('email', null, 'Email', {type: 'email'}) }}
    <button class="btn btn-primary">Réinitialiser mon mot de passe</button>
  </form>

{% endblock %}
