body {
    background: rgb(204,204,204);
      margin: 0px;
      padding: 0px;
  }
  .page {
    background: white;
      position: relative;
    margin: 0 auto;
      margin-bottom: 5mm;
      padding: 10mm 10mm 10mm 10mm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  .a4 {  
    width: 210mm;
    height: 297mm; 
  }
  .portrait {
    width: 29.7cm;
    height: 21cm;  
  }
  @media print {
    body, .page {
      margin: 0;
      box-shadow: none;
    }
  }
  
  header{margin-bottom: 9px;}
  
  .footer {position: absolute; bottom: 0;margin: 2.5mm auto 18px auto;width: 210mm;}
  
  .pagebreak { page-break-after: always; }
  
  .dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}
  
  .lh16{line-height: 16px;}
  .lh14{line-height: 14px;}
  
  .logo{width:200px;height:120px;}
  
  .ft1{font-size: 14px;font-family: helvetica;line-height: 16px;}
  .ft2{font-weight: bold;font-size: 13px;font-family: helvetica; color: #008000;
      text-decoration: underline;}
  .ft3{font-weight: bold;font-size: 25px;font-family: helvetica;line-height: 30px;}
  .ft4{font-weight: bold;font-size: 18px;font-family: helvetica;line-height: 20px;}
  .ft5{font-weight: bold;font-size: 14px;font-family: helvetica;line-height: 16px;}
  .ft6{font-size: 16px;font-family: helvetica;line-height: 18px;}
  .ft7{font-weight: bold;font-size: 14px;font-family: helvetica;line-height: 16px;}
  .ft15{font-weight: bold;font-size: 14px;font-family: helvetica;color: #ff0000;line-height: 16px;}
  .ft19{font-size: 9px;font-family: helvetica;color: #008000;line-height: 12px;}
  
  .paddr{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
  .p4{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
  .p6{margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
  .p7{text-align: left;padding-left: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
  .p15{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
  
  .tdlogo{padding-right: 20px;}
  .tdaddr{border: #000000 1px solid;vertical-align: middle;}
  
  .h24{height: 24px;}
  .h19{height: 19px;}
  .h16{height: 16px;}
  .h48p{height: 48px;}
  .h54p { height: 54px; }
  
  .t0{width: 100%;margin-top: 9px;}
  .t1{width: 100%;font-size: 13px;font-family: helvetica;}
  .t2{width: 100%;}
  .t3{width: 100%;}
  
  .vert-align-b{ vertical-align: bottom;}
  .vert-align-t{ vertical-align: top;}
  .vert-align-c{ vertical-align: middle;}
  
  .txt-align-l{ text-align: left;}
  .txt-align-c{ text-align: center;}
  .txt-align-r{ text-align: right;}
  
  .w5p  { width: 5%;  } .w10p { width: 10%; } .w15p { width: 15%; } 
  .w20p { width: 20%; } .w25p { width: 25%; } .w30p { width: 30%; } 
  .w35p { width: 35%; } .w40p { width: 40%; } .w45p { width: 45%; } 
  .w50p { width: 50%; } .w55p { width: 55%; } .w60p { width: 60%; } 
  .w65p { width: 65%; } .w75p { width: 75%; } .w100p{ width: 100%;}
  
  .border-t{border-top: #000000 1px solid;}
  .border-b{border-bottom: #000000 1px solid;}
  .border-r{border-right: #000000 1px solid;}
  .border-l{border-left: #000000 1px solid;}
  .border{border: #000000 1px solid;}
  
  .border-t-double{border-top: green 3px double;}
  .border-b-double{border-bottom: #000000 1px double;}
  .border-r-double{border-right: #000000 1px double;}
  .border-l-double{border-left: #000000 1px double;}
  .border-double{border: #000000 1px double;}
  
  .pad5{padding: 5px;}
  .pad-l-5{padding-left: 5px;}
  .pad-r-5{padding-right: 5px;}
  .pad-t-5{padding-top: 5px;}
  .pad-l{padding-left:15px;}
  .pad-r{padding-right: 15px;}
  .pad-t{padding-top: 15px;}
  .pad-b{padding-bottom: 15px;}
  .pad-r-auto{padding-right: auto;}
  .pad-l-auto{padding-left: auto;}
  .pad-t-auto{padding-top: auto;}
  .pad-b-auto{padding-bottom: auto;}
  .margin-auto{margin: auto;}
  .margin-t-5{margin-top: 5px;}
  .no-margin{margin: 0;}

  .td1{
    vertical-align: top;
    padding: 5px;
    text-align: left;
    white-space: nowrap;
    font-size: 14px;
    font-family: helvetica;
    line-height: 16px;
  }
  .td2{
    vertical-align: top;
    padding: 5px;
    text-align: right;
    white-space: nowrap;
    font-size: 14px;
    font-family: helvetica;
    line-height: 16px;
  }
  .td1-tranche-debut{
    vertical-align: top;
    padding: 5px 5px 15px 5px;
    font-weight: bold;
    font-size: 14px;
    font-family: helvetica; 
    color: #008000;
    text-decoration: underline;
    text-align: left;
    line-height: 16px;
  }
  .td2-tranche-debut{
    vertical-align: top;
    padding: 5px 5px 15px 5px;
    font-weight: bold;
    font-size: 14px;
    font-family: helvetica; 
    color: #008000;
    text-decoration: underline;
    text-align: right;
    line-height: 16px;
  }

  .td1-tranche-fin{
    vertical-align: top;
    padding: 5px 5px 15px 5px;
    text-align: right;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    font-family: helvetica;
    line-height: 16px;
  }
  .td2-tranche-fin{
    vertical-align: top;
    padding: 5px 5px 15px 5px;
    text-align: right;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    font-family: helvetica;
    line-height: 16px;
    border-top: #008000 3px double;
  }
