{% extends '@admin/layout.twig' %}

{% block title "Ajouter une categorie" %}

{% block body %}

<h1>Ajouter une categorie </h1>

<form action="{{ path(routePrefix ~ '.create') }}" method="POST">

  {% include viewPath ~ "/form.twig" %}
  
  <button type="submit" class="btn btn-primary">Ajouter</button>
</form>

{% endblock %}