<li class="nav-item {{ is_subpath('blog.index') ? 'active' }} ">
  <a class="nav-link" href="{{ path('blog.index') }}">Blog</a>
</li> 
<li class="nav-item {{ is_subpath('blog.admin.index') ? 'active' }}">
  <a class="nav-link" href="{{ path('blog.admin.index') }} ">Administration</a>
</li>
