<li class="nav-item {{ is_subpath('admin.blog.index') ? 'active' }}">
  <a class="nav-link" href="{{ path('admin.blog.index') }} ">Articles</a>
</li>
<li class="nav-item {{ is_subpath('admin.blog.category.index') ? 'active' }} ">
  <a class="nav-link" href="{{ path('admin.blog.category.index') }}">Categories</a>
</li> 