{% extends '@admin/layout.twig' %}

{% block title "Editer la categorie" %}

{% block body %}

<h1>Editer la categorie {{ item.name }} </h1>

<form action="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" method="POST">

  {% include viewPath ~ "/form.twig" %}

  <button type="submit" class="btn btn-primary">Editer</button>
</form>

{% endblock %}