<p>
  Vous avez demandé la réinitialisation de votre de mot de passe.
</p>
<p>
  <a href="{{ domain }}{{ path('auth.reset', {id: id, token: token}) }}">{{ domain }}{{ path('auth.reset', {id: id, token: token}) }}</a>
</p>